/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
  padding-top: 2rem;
}

.navbar {
  font-family: 'Big Shoulders Stencil Display', cursive;
}

.edit {
  border: none;
  background-color: transparent;
  float: right;
  font-size: 1.5rem;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
