{% extends "main.html" %}
{% block content %}
     {% set active_page = title %}
               <!-- Start Content-->
               <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                         <div class="col-12">
                              <div class="page-title-box">
                                   <h1 class="page-title">{{ active_page|title }}</h1>
                              </div>
                         </div>
                         <div class="container-fluid">
                              {% set count = namespace(value=0) %}
                              {% set column_size = 3 %}
                              {% set balance_div = 4 % column_size  %}
                              {% set breaker = namespace(value=balance_div) %}
                              {% for list in todo %}
                              {% if loop.index > balance_div %}
                                   {% set breaker.value = column_size %}
                                   {% endif %}
                                   {% if loop.index == 1 + count.value %}    
                                        <div class="card-deck mb-3">
                                   {% endif %}
                                             <!-- Portlet card -->
                                             <div class="card">
                                                  <div class="card-body">
                                                       <div class="card-widgets">
                                                            <a href="#" data-toggle="tooltip" data-original-title="Done"><i class="mdi mdi-clipboard-check-outline"></i></a> 
                                                            <a class="pr-2" href="#" data-toggle="tooltip" data-original-title="Edit"><i class="mdi mdi-clipboard-edit-outline"></i></a> 
                                                            <a href="#" data-toggle="tooltip" data-original-title="Close"><i class="mdi mdi-close"></i></a>
                                                       </div>
                                                       <h3 class="card-title mb-0">{{ list.Todo.name|title }}</h3>
                                                       <div class="divider"><hr></div>
                                                       <p class="card-text">
                                                            {{ list.Todo.details_html|safe }}
                                                       </p>
                                                       <footer class="blockquote-footer"> 
                                                            <i class="uil uil-schedule font-16 mr-1"></i>
                                                            {{ momentjs(list.Tracker.timestamp).calendar() }}
                                                       </footer>
                                                  </div>
                                             </div> <!-- end card-->
                                   {% if loop.index == breaker.value + count.value %}
                                   {% set count.value = count.value + breaker.value %}
                                        </div>
                                   {% endif %}
                              {% endfor %}
                         </div>
                              
                    </div>
               </div>
          </div>
     </div>
{% endblock %}   



