{% extends "main.html" %}
{% block extra_css %}
	<link href='{{ url_for('static', filename='assets/css/vendor/simplemde.min.css') }}' rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
     {% set active_page = title %}
               <!-- Start Content-->
               <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                         <div class="col-12 pb-1">
                              <div class="page-title-box">
                                   <h1 class="page-title">{{ active_page|title }}</h1>
                              </div>
                         </div>
                         
                         <div class="col-sm-4">
                              {% set form_title = 'What to do ? ' %}
                              {% if title == 'today' %}
                              <a id="create-todo-main" type="button" class="btn btn-danger btn-rounded mb-3" data-toggle="modal" data-target="#info-header-modal" href="#">
                                   <i class="mdi mdi-plus"></i>
                                   Create Todo
                              </a>
                              {% endif %}
                         </div>
                         
                         <div class="container-fluid">
                              {% set count = namespace(value=0) %}
                              {% set column_size = 3 %}
                              {% set balance_div = 4 % column_size  %}
                              {% set breaker = namespace(value=balance_div) %}
                              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                              {% for list in todo %}
                              {% if loop.index > balance_div %}
                                   {% set breaker.value = column_size %}
                                   {% endif %}
                                   {% if loop.index == 1 + count.value %}    
                                        <div class="card-deck mb-3">
                                   {% endif %}
                                             <!-- Portlet card -->
                                             <div class="card">
                                                  <div class="card-body">
                                                       <div class="card-widgets">
                                                            <!-- <button type="button" class="edit" aria-label="Edit" data-id='' data-toggle="modal" data-target="#todoModal">
                                                                 <span aria-hidden="true">&#9998;</span>
                                                             </button> -->
                                                       {% if title == 'today' %}
                                                            <a class="done" data-id='{{ list.Todo.id }}' href="#" data-toggle="tooltip" data-original-title="Done"><i class="mdi mdi-clipboard-check-outline"></i></a> 
                                                       {% endif %}
                                                            <a class="edit pr-2" data-id='{{ list.Todo.id }}' href="#" data-toggle="tooltip" data-original-title="Edit"><i class="mdi mdi-clipboard-edit-outline"></i></a> 
                                                            <a class="close-todo" data-id='{{ list.Todo.id }}' href="#" data-toggle="tooltip" data-original-title="Close"><i class="mdi mdi-close"></i></a>
                                                       </div>
                                                       <h3 class="card-title mb-0">{{ list.Todo.name|title }}</h3>
                                                       <div class="divider"><hr></div>
                                                       <p class="card-text">
                                                            {{ list.Todo.details_html|safe }}
                                                       </p>
                                                       <footer class="blockquote-footer"> 
                                                            <i class="uil uil-schedule font-16 mr-1"></i>
                                                            {{ momentjs(list.Tracker.timestamp).calendar() }}
                                                       </footer>
                                                  </div>
                                             </div> <!-- end card-->
                                   {% if loop.index == breaker.value + count.value %}
                                   {% set count.value = count.value + breaker.value %}
                                        </div>
                                   {% endif %}
                              {% endfor %}
                         </div>
                         
                    </div>
               </div>
          </div>
          {% include "todo_add.html" %}
     </div>
{% endblock %}  
{% block extra_script_footer %}
<!-- SimpleMDE js -->
<script src='{{ url_for('static', filename='assets/js/vendor/simplemde.min.js') }}'></script>
<script>
     let simplemde = new SimpleMDE({ 
        spellChecker: false,
        toolbarTips: true,
        toolbar: [
                        "bold", 
                        "italic", 
                        "unordered-list", 
                        "ordered-list", "|", 
                        "quote",
                        "link",
                        "preview"
                    ],
        element: $("#details-textarea")[0] });
        simplemde.render();
</script>
<!-- SimpleMDE demo -->
<!-- <script src="assets/js/pages/demo.simplemde.js"></script> -->
                                                                                                    
<script>
     $('.done').click(function() {
          // console.log($(this).data('id'));
          $.post($SCRIPT_ROOT + $(this).data('id') + '/done', {
            '_csrf_token': '{{ csrf_token() }}'
          },
          function(data){
               window.location.href = "{{ url_for('list', id='today') }}";
          });
     })

     $('.edit').click(function() {
          $.post('/' + $(this).data('id') + '/todo', {
            '_csrf_token': '{{ csrf_token() }}'
          },
          function(data){
               $('#info-header-modal').modal('show');
               $('#title-input-normal').val(data['title']);
               $("input[name='todo_id']").val(data['id']);
               simplemde.value(data['activities']);
               console.log(data)
          });
     })

     $('.close-todo').click(function() {
          let title = '{{ title }}'
          $.post('/' + $(this).data('id') + '/delete', {
            '_csrf_token': '{{ csrf_token() }}'
          },
          function(data){
               if(title == 'today')
                    window.location.href = "{{ url_for('list', id='today') }}";
               else
                    window.location.href = "{{ url_for('list', id='tomorrow') }}";
          });
     })
     // reset value
     $('#create-todo-main').click(function() {
          $('#title-input-normal').val('');
          $("input[name='todo_id']").val('')
          simplemde.value('');
     })

     /** Script for html modal **/

     $('.create-todo').click(function() {
          
          let title = $('#title-input-normal').val();
          let activities = simplemde.value();
          //let activities_html = marked(simplemde.value());
          let todo_id = $("input[name='todo_id']").val();
          console.log(title);
          
          if(title) {
               $.post('/add', {
                    '_csrf_token': '{{ csrf_token() }}',
                    'todo_id': todo_id ? todo_id:'',
                    'title': title,
                    'activities': activities,
                    //'activities_html': activities_html
               },
               function(data){
                    window.location.href = "{{ url_for('list', id='today') }}";
               });
          }
          else
               $('#title-input-normal').last().addClass('is-invalid')
          
     })

     $('#info-header-modal').on('shown.bs.modal', function() {
          $(this).find('[autofocus]').focus();
          simplemde.codemirror.refresh();
     });
</script>
{% endblock %} 



