{% extends "base.html" %}
{% set active_page = 'todo' %}
{% block content %}
    <main role="main">
        <div class="jumbotron">
            <div class="container-l">
                <div class="container-fluid mb-3 text-right">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#todoModal">
                        Add Todo
                    </button>
                </div>
                
                {## 
                    Setup todo dashboard
                ##}
                {% set count = namespace(value=0) %}
                {% set column_size = 3 %}
                {% set balance_div = (today_record|length) % column_size  %}
                {% set breaker = namespace(value=balance_div) %}
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                {% for todo in today_record %}
                    {% if loop.index > balance_div %}
                        {% set breaker.value = column_size %}
                    {% endif %}
                    {% if loop.index == 1 + count.value %}    
                        <div class="card-deck mb-3">
                    {% endif %}
                            <div class="card"> 
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">
                                        {{ todo.name }}
                                    </h4>
                                </div>
                                <div class="card-body text-left">
                                    {## {{ todo.id }} : ##}
                                    <p>{{ todo.details }}</p>
                                    <footer class="blockquote-footer">{{ todo.modified }}</footer>
                                </div>
                                <div class="p-1 mr-2 bg-white">
                                    <button type="button" class="ml-2 mb-1 close" aria-label="Close" data-id='{{ todo.id }}'>
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <button type="button" class="edit" aria-label="Edit" data-id='{{ todo.id }}' data-toggle="modal" data-target="#todoModal">
                                        <span aria-hidden="true">&#9998;</span>
                                    </button>
                                </div>
                            </div>
                    {% if loop.index == breaker.value + count.value %}
                        {% set count.value = count.value + breaker.value %}
                        </div>
                    {% endif %}
                    
                {% endfor %}
        </div>
        <!-- Modal -->
    <div class="modal fade mt-5" id="todoModal" tabindex="-1" aria-labelledby="todoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="todoModalLabel">What todo... ?</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="todo_id"/>
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="titleFormControlInput1">Title</label>
                                <input type="text" class="form-control" id="titleFormControlInput1" name="title">
                            </div>
                            <div class="form-group">
                                <label for="activitiesFormControlTextArea1">Activities</label>
                                <textarea id="activitiesFormControlTextArea1" class="form-control" rows="3" name="activities"></textarea>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="today">Today</button>
                        <button type="button" class="btn btn-secondary" id="tomorrow">Tomorrow</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        
    </main>
{% endblock %}
{% block extra_script %}
<script>
    $('.close').click(function() {
            //alert($(this).data('id'));
            $.post($SCRIPT_ROOT + $(this).data('id') + '/delete', {
            '_csrf_token': '{{ csrf_token() }}'
            },
            function(){
               window.location.href = "{{ url_for('todo') }}";
            });
    })

    $('#today').click(function() {
        $.post($SCRIPT_ROOT + '/add', {
            '_csrf_token': '{{ csrf_token() }}',
            'todo_id': '',
            'title': $('#titleFormControlInput1').val(),
            'activities': $('#activitiesFormControlTextArea1').val()
        },
        function() {
            window.location.href = "{{ url_for('todo') }}";
        });
    })

    $('.edit').click(function() {
        // $('#todo-id-view').text($(this).data('id'));  
        $.post($SCRIPT_ROOT + $(this).data('id') + '/todo', {
            '_csrf_token': '{{ csrf_token() }}'
        },
        function(data) {
            $('.modal-footer').html(data['button']);
            $("input[name='todo_id']").val(data['id']);
            $('#titleFormControlInput1').val(data['title']);
            $('#activitiesFormControlTextArea1').val(data['activities']);
        });
    })

    $(document.body).on("click", "#save", function (e){
        $.post($SCRIPT_ROOT + '/add', {
            '_csrf_token': '{{ csrf_token() }}',
            'todo_id': $("input[name='todo_id']").val(),
            'title': $('#titleFormControlInput1').val(),
            'activities': $('#activitiesFormControlTextArea1').val()
        },
        function(data) {
            // window.location.href = "{{ url_for('todo') }}" + '?update=success';
            $('#titleFormControlInput1').prop("disabled", true);
            $('#activitiesFormControlTextArea1').prop("disabled", true);
            $('.modal-footer').html('<div class="alert alert-warning" role="alert">Saving ...</div>');
        })
        .done(function(data){
            
            if(data['status'] == 'failed') {
                $('.modal-footer').html('<div class="alert alert-info alert-dismissible fade show" role="alert">No change made'+
                                        '</div>');
                
                $(".alert").fadeOut(2000).slideUp(5000, function() {
                    $(this).alert('close');
                    $('#titleFormControlInput1').prop("disabled", false);
                    $('#activitiesFormControlTextArea1').prop("disabled", false);
                    $('.modal-footer').html(data['button']);
                    // window.location.href = "{{ url_for('todo') }}";
                });
            }
            else {
                $('#titleFormControlInput1').prop("disabled", true);
                $('#activitiesFormControlTextArea1').prop("disabled", true);
                $('.modal-footer').html('<div class="alert alert-success alert-dismissible fade show" role="alert">Saving success'+
                                    '</div>');
                $(".alert").fadeOut(2000).slideUp(4000, function() {
                    $(this).alert('close');
                    window.location.href = "{{ url_for('todo') }}";
                });
            }
           
        });
    })

 </script>
{% endblock %}
