{% extends "base.html" %}
{% set active_page = 'todo' %}
{% block content %}
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                {## 
                    Setup todo dashboard
                ##}
                {% set count = namespace(value=0) %}
                {% set column_size = 4 %}
                {% set balance_div = (todo_record|length) % column_size  %}
                {% set breaker = namespace(value=balance_div) %}

                {% for todo in todo_record %}
                    {% if loop.index > balance_div %}
                        {% set breaker.value = column_size %}
                    {% endif %}
                    {% if loop.index == 1 + count.value %}    
                        <div class="card-deck mb-3">
                    {% endif %}
                            <div class="card"> 
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">
                                        {{ todo.name }}
                                    </h4>
                                </div>
                                <div class="card-body">
                                    {{ todo.timestamp }} <br>
                                    {{ todo.details }}
                                </div>
                            </div>
                    {% if loop.index == breaker.value + count.value %}
                        {% set count.value = count.value + breaker.value %}
                        </div>
                    {% endif %}
                    
                {% endfor %}
        </div>
    </main>
{% endblock %}
