{% extends "base.html" %}
{% set active_page = 'todo' %}
{% block content %}
    <main role="main">
        <div class="jumbotron">
            <div class="container">
                {## 
                    Setup todo dashboard
                ##}
                {% set count = namespace(value=0) %}
                {% set breaker = 3 %}
                {% for todo in todo_record %}
                    {% if loop.index == 1 + count.value %}    
                        <div class="card-deck mb-3">
                    {% endif %}
                            <div class="card"> 
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">
                                        {{ todo.name }}
                                    </h4>
                                </div>
                                <div class="card-body">
                                    {{ todo.details }}
                                </div>
                            </div>
                    {% if loop.index == breaker + count.value %}
                        {% set count.value = count.value + breaker %}
                        </div>
                    {% endif %}
                {% endfor %}
        </div>
    </main>
{% endblock %}
