{% extends "main.html" %}
{% block content %}
     {% set active_page = title %}
               <!-- Start Content-->
               <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                         <div class="col-12 pb-1">
                              <div class="page-title-box">
                                   <h1 class="page-title">
                                        <i class="mdi mdi-format-list-bulleted mr-2"></i>{{ active_page|title }}
                                   </h1>
                                   <p class="text-muted">All your pending and incomplete tasks</p>
                              </div>
                         </div>
                    </div>
                    
                    {% if todos %}
                    <div class="row">
                         <div class="col-12">
                              {% set count = namespace(value=0) %}
                              {% set column_size = 3 %}
                              {% set balance_div = 4 % column_size  %}
                              {% set breaker = namespace(value=balance_div) %}
                              
                              {% for todo_data in todos %}
                                   {% set list = namespace(Todo=todo_data[0], Tracker=todo_data[1]) %}
                                   {% if loop.index > balance_div %}
                                        {% set breaker.value = column_size %}
                                   {% endif %}
                                   {% if loop.index == 1 + count.value %}    
                                        <div class="card-deck mb-3">
                                   {% endif %}
                                             <!-- Portlet card -->
                                             <div class="card">
                                                  <div class="card-body">
                                                       <div class="card-widgets">
                                                            <a class="done" data-id='{{ list.Todo.id }}' href="#" data-toggle="tooltip" data-original-title="Mark as Done" aria-label="Mark as done">
                                                                <i class="mdi mdi-clipboard-check-outline"></i>
                                                                <span class="sr-only">Mark as done</span>
                                                            </a>
                                                            <a class="edit pr-2" data-id='{{ list.Todo.id }}' href="#" data-toggle="tooltip" data-original-title="Edit" aria-label="Edit todo">
                                                                <i class="mdi mdi-clipboard-edit-outline"></i>
                                                                <span class="sr-only">Edit todo</span>
                                                            </a> 
                                                            <a class="close-todo" data-id='{{ list.Todo.id }}' href="#" data-toggle="tooltip" data-original-title="Delete" aria-label="Delete todo">
                                                                <i class="mdi mdi-close"></i>
                                                                <span class="sr-only">Delete todo</span>
                                                            </a>
                                                       </div>
                                                       <h3 class="card-title mb-0">{{ list.Todo.name|title }}</h3>
                                                       <div class="divider"><hr></div>
                                                       <p class="card-text">
                                                            {{ list.Todo.details_html|safe }}
                                                       </p>
                                                       <footer class="blockquote-footer"> 
                                                            <i class="mdi mdi-clock-outline mr-1"></i>
                                                            {{ momentjs(list.Tracker.timestamp).calendar() }}
                                                            {% if list.Tracker.status_id == 1 %}
                                                                <span class="badge badge-warning ml-2">Pending</span>
                                                            {% elif list.Tracker.status_id == 3 %}
                                                                <span class="badge badge-danger ml-2">Failed</span>
                                                            {% elif list.Tracker.status_id == 4 %}
                                                                <span class="badge badge-info ml-2">Re-assigned</span>
                                                            {% endif %}
                                                       </footer>
                                                  </div>
                                             </div> <!-- end card-->
                                   {% if loop.index == breaker.value + count.value %}
                                   {% set count.value = count.value + breaker.value %}
                                        </div>
                                   {% endif %}
                              {% endfor %}
                              
                              <!-- Close any remaining open card-deck -->
                              {% if todos|length % column_size != 0 %}
                                   </div>
                              {% endif %}
                         </div>
                    </div>
                    {% else %}
                    <!-- No undone tasks -->
                    <div class="row">
                         <div class="col-12">
                              <div class="card">
                                   <div class="card-body text-center py-5">
                                        <i class="mdi mdi-check-all text-success" style="font-size: 4rem;"></i>
                                        <h4 class="mt-3">All caught up!</h4>
                                        <p class="text-muted">You have no pending tasks. Great job!</p>
                                        <a href="{{ url_for('list', id='today') }}" class="btn btn-primary">
                                             <i class="mdi mdi-plus mr-1"></i>Add New Task
                                        </a>
                                   </div>
                              </div>
                         </div>
                    </div>
                    {% endif %}
               </div>
          </div>
          {% include "todo_add.html" %}
     </div>
{% endblock %}  

{% block extra_script_footer %}
<script>
     $('.done').click(function() {
          $.post('/' + $(this).data('id') + '/done', {
            '_csrf_token': '{{ csrf_token() }}'
          },
          function(data){
               window.location.href = "{{ url_for('undone') }}";
          });
     })

     $('.edit').click(function() {
          $.post('/' + $(this).data('id') + '/todo', {
            '_csrf_token': '{{ csrf_token() }}'
          },
          function(data){
               $('#info-header-modal').modal('show');
               $('#title-input-normal').val(data['title']);
               $("input[name='todo_id']").val(data['id']);
               // Note: simplemde would need to be initialized for editing to work
               console.log(data)
          });
     })

     $('.close-todo').click(function() {
          $.post('/' + $(this).data('id') + '/delete', {
            '_csrf_token': '{{ csrf_token() }}'
          },
          function(data){
               window.location.href = "{{ url_for('undone') }}";
          });
     })
</script>
{% endblock %}