{% extends "base.html" %}
{% set active_page = all %}
{% block extra_css %}
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<main role="main">
    <div class="jumbotron bg-white">
        <div class="container-xl">
            <table id="todoTable" class="display w-100">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Created</th>
                        <th>Title</th>
                        <th>Activity</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in records %}
                    <tr>
                        <td>{{ todo.id }}</td>
                        <td>{{ momentjs(todo.timestamp).format("DD/MM/YY h:mm a") }}</td>
                        <td>{{ todo.name }}</td>
                        <td>{{ momentjs(todo.modified).calendar() }}</td>
                        <td>{{ done[todo.status] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Created</th>
                        <th>Title</th>
                        <th>Activities</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade mt-5" id="todoModal" tabindex="-1" aria-labelledby="todoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="todoModalLabel">What todo... ?</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="todo_id"/>
                    <div class="modal-body">
                            <div class="form-group">
                                <label for="titleFormControlInput1">Title</label>
                                <input type="text" class="form-control" id="titleFormControlInput1" name="title" autofocus>
                            </div>
                            <div class="form-group">
                                <label for="activitiesFormControlTextArea1">Activities</label>
                                <textarea id="activitiesFormControlTextArea1" class="form-control" rows="3" name="activities"></textarea>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" id="today">Today</button>
                        <button type="button" class="btn btn-secondary" id="tomorrow">Tomorrow</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{% block extra_script %}
    <script
    src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js">
    </script>
    <script>
        function todo_add(data, byPass=0){
            /**
             * Function to add todo
            * */
        
            $.post($SCRIPT_ROOT + '/add', {
                        '_csrf_token': '{{ csrf_token() }}',
                        'todo_id': data[0],
                        'title': $('#titleFormControlInput1').val(),
                        'byPass': byPass,
                        'activities': $('#activitiesFormControlTextArea1').val()
                    },
                    function(data) {
                        $('#titleFormControlInput1').prop("disabled", true);
                        $('#activitiesFormControlTextArea1').prop("disabled", true);
                        $('.modal-footer').html('<div class="alert alert-warning" role="alert">Saving ...</div>');
                    })
                    .done(function(data){
                        if(data['status'] == 'failed') {
                            $('.modal-footer').html('<div class="alert alert-info alert-dismissible fade show" role="alert">No change made'+
                                                '</div>');
                        
                            $(".alert").fadeOut(2000).slideUp(5000, function() {
                                $(this).alert('close');
                                $('#titleFormControlInput1').prop("disabled", false);
                                $('#activitiesFormControlTextArea1').prop("disabled", false);
                                $('.modal-footer').html('<button type="button" class="btn btn-warning" id="delete">Delete</button>');
                                // window.location.href = "{{ url_for('todo') }}";
                            });
                        }
                        else {
                            $('#titleFormControlInput1').prop("disabled", true);
                            $('#activitiesFormControlTextArea1').prop("disabled", true);
                            $('.modal-footer').html('<div class="alert alert-success alert-dismissible fade show" role="alert">Saving success'+
                                                '</div>');
                            $(".alert").fadeOut(2000).slideUp(4000, function() {
                                $(this).alert('close');
                                window.location.href = "{{ url_for('view', todo='pending') }}";
                            });
                        }
                    
                    });
        }
        /**
         * todo table list
        * */
        $(document).ready(function() {
            let table = $('#todoTable').DataTable({
                "order": [[ 3, "desc" ]],
                stateSave: true
            });
            $('#todoTable tbody').on( 'click', 'tr', function () {
                if ( $(this).hasClass('selected') ) {
                    let data = table.row(this).data();
                    $('#todoModal').modal('show');
                    $.post("/" + data[0] + '/todo', {
                        '_csrf_token': '{{ csrf_token() }}',
                        'tbl_save': 1
                    },
                    function(data) {
                        $('.modal-footer').html(data['button']);
                        $("input[name='todo_id']").val(data['id']);
                        $('#titleFormControlInput1').val(data['title']);
                        $('#activitiesFormControlTextArea1').val(data['activities']);
                    })

                    $(document.body).on("click", "#save", function (e){
                        todo_add(data);
                    })

                    $(document.body).on("click", "#todo", function (e){
                        todo_add(data, 1);
                    })

                    $(document.body).on("click", "#delete", function (e){
                        $.post("/" + data[0] + '/delete', {
                            '_csrf_token': '{{ csrf_token() }}'
                            },
                            function(){
                                $('#titleFormControlInput1').prop("disabled", true);
                                $('#activitiesFormControlTextArea1').prop("disabled", true);
                            })
                            .done(function(data){
                                $('.modal-footer').html('<div class="alert alert-info alert-dismissible fade show" role="alert">Deleting Todo ...'+
                                        '</div>');
                                        $(".alert").fadeOut(2000).slideUp(5000, function() {
                                            $(this).alert('close');
                                            window.location.href = "{{ url_for('view', todo='pending') }}";
                                        });
                            })
                        // alert(data[0]);
                    })

                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            } );
        } );
    </script>
{% endblock %}